@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,900);
.card {
  background: #FFF;
  border: 1px solid #AAA;
  border-bottom: 3px solid #BBB;
  padding: 0px;
  margin-top: 5em;
  overflow: hidden;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body {
  margin: 1em;
}
.card-header {
  width: 100%;
  color: #2196F3;
  border-bottom: 3px solid #BBB;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-header {
  background-color: #2c3e50;
  color: #FFFFFF;
  border-bottom: 3px solid #BBB;
  font-family: 'Roboto', sans-serif;
  padding: 0 0 0 10px;
  margin-top: 0px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#btnBuy{
  border: 1px solid #2c3e50;
  background: none;
}
