<section class="container">
  <div class="col-md-2 col-md-offset-10 searchStyle">
      <span class="fa fa-search"><input id="search" type="text" name="nameFilter" ng-model="ctrl.nameFilter" placeholder="Buscar Propiedad"></span>
  </div>
</section>
<section class="container-fluid">
  <div class="col-md-4" ng-repeat="userProperty in ctrl.properties | filter:ctrl.nameFilter">
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <h3 class="hvr-underline-from-center">{{userProperty.name}}</h3>
        </div>
        <div class="card-body">
          <p>Propietario: {{userProperty.ownedby.name}}</p>
          <p>Identificación: {{userProperty.identification}}</p>
          <p>Posición: {{userProperty.position}}</p>
          <p>Precio: {{userProperty.price}}</p>
        </div>
        <nav class="nav-tabs">
          <ul class="nav nav-pills pull-left">
            <input type="button" name="Comprar" value="Comprar" id="btnBuy" ng-click="ctrl.Buy(userProperty)">
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="modal fade" id="modalProperty" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="notReg">
        <div class="selectStyles">
          <label>Usuarios:</label>
          <select name="userList" ng-model="ctrl.userList">
            <option value="">--Seleccione un usuario--</option>
            <option ng-repeat="players in ctrl.players" value="{{players.name}}">{{players.name}}</option>
          </select>
        </div>
        <div>
          <input type="button" name="" class="btnButton" value="Realizar Compra" ng-click="ctrl.perform(ctrl.userList, ctrl.userProperty)">
        </div>
      </div>
    </div>
  </div>
</div>
</section>
