<section>
  <div class="col-md-4" ng-repeat="userProperty in ctrl.properties">
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <h3 class="hvr-underline-from-center">{{userProperty.name}}</h3>
        </div>
        <div class="card-body">
          <p>Identificación: {{userProperty.id}}</p>
          <p>Posición: {{userProperty.position}}</p>
          <p>Precio: {{userProperty.price}}</p>
        </div>
        <nav class="nav-tabs">
          <ul class="nav nav-pills pull-left">
            <input type="button" name="Comprar" value="Comprar" id="btnBuy" ng-click="ctrl.Buy(userProperty)">
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <table>
-    <thead>
-      <tr>
-        <th>Nombre</th>
-        <th>Identificación</th>
-        <th>Posición</th>
-        <th>Precio</th>
-      </tr>
-    </thead>
-    <tbody>
-      <tr ng-repeat="userProperty in ctrl.properties">
-        <th>{{userProperty.name}}</th>
-        <th>{{userProperty.id}}</th>
-        <th>{{userProperty.position}}</th>
-        <th>{{userProperty.price}}</th>
-        <th><input type="button" name="Comprar" value="Comprar" ng-click="ctrl.Buy(userProperty)"></th>
-      </tr>
-    </tbody>
-  </table>
</section> -->
<section>
  <div class="modal fade" id="modalProperty" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="notReg">
        <div class="">
          <label>Usuarios</label>
          <select name="userList" ng-model="ctrl.userList">
            <option value="">--Seleccione un usuario--</option>
            <option ng-repeat="players in ctrl.players" value="{{players.name}}">{{players.name}}</option>
          </select>
        </div>
        <div>
          <input type="button" name="" id="btnBuy" value="Realizar Compra" ng-click="ctrl.perform(ctrl.userList)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</section>
