<main>
  <section id="RegPlayer" ng-controller="PlayerController as ctrl">
    <form name="frmRegPlayer" class="container colorBack">
      <div class="col-xs-12 col-sm-12">
        <div class="formStyle">
          <div class="col-sm-10">
            <label for="">Código:</label>
              <div class="clearFix"></div>
            <input type="text" name="code" ng-model="ctrl.code" value="" required pattern="[0-9]{2,}">
          </div>
          <div class="col-sm-10">
            <label for="">Nombre:</label>
            <div class="clearFix"></div>
            <input type="text" name="name" ng-model="ctrl.name" value="" required pattern="[a-zA-ZáéíóúÁÉÍÓÚÑñ]{2,}">
          </div>
          <div class="col-sm-10">
            <label for="">Alias:</label>
            <div class="clearFix"></div>
            <input type="text" name="nickName" ng-model="ctrl.nickName" value="" required>
          </div>
          <div class="col-sm-10">
            <label for="">Cantidad de dinero:</label>
            <div class="clearFix"></div>
            <input type="text" name="money" ng-model="ctrl.money" value="" required  pattern="[0-9]{2,}">
          </div>
      </div>
      <div class="col-sm-10 imgStyle">
        <label for="photo">Imagen</label>
        <input type="file" name="photo" ng-model="ctrl.photo" value="" id="photo">
      </div>
        <div class="col-sm-10">
          <input type="button"  class="btnButtonReg" name="Registrar" value="Registrar" ng-disabled="frmRegPlayer.$invalid" ng-click="ctrl.preSave()" >
        </div>
      </div>
    </form>
  </section>
</main>
